@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 130px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "main"
    "footer";
}

.header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #238bff;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(149, 157, 165, 0.2);
}

.nav {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
}

.nav-right {
    position: absolute;
    right: 10px;
}

.nav-left {
    position: absolute;
    left: 20px;
}

.nav > ul .nav-item {
    display: inline-block;
}

.nav-item {
    height: 31px;
    padding: 6px 12px;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
}

.nav-item:hover {
    background-color: #3f98ff;
    transition: all 0.3s ease 0s;
}

.nav-item > a {
    text-decoration: none;
    font-size: unset;
    color: white;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 35%;
    margin: 30px 0;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #eeeeee;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.custom-form, .application-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.form-input {
    font-size: 14px;
    width: 100%;
    height: 35px;
    padding: 9px 0;
    color: #a1a1a1;
    outline: none;
    box-shadow: none;
    border: none;
}

.form-header {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    color: #a1a1a1;
    font-style: italic;
    letter-spacing: 1px;
}

.form-button {
    padding: 5px 10px;
    min-width: 120px;
    max-width: fit-content;
    height: 35px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #238bff;
    color: white;
    border: 1px solid #efefef;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: context-menu;
}

.form-button:hover {
    background-color: #3f98ff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.footer {
    grid-area: footer;
    width: 100%;
    background-color: #238bff;
}

.main-container {
    height: 100%;
    width: 1000px;
    padding: 10px 30px;
}

.group {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
}

.sort-control {
    padding: 10px;
    margin-bottom: 10px;
}

.sort-control-form > select {
    margin-right: 15px;
}

.sort-select-group > label {
    margin-bottom: 20px;
    font-size: 15px;
    color: #1d3c62;
}

.room-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.room-card {
    display: grid;
    grid-template: 50% 40% 10% / 1fr;
    height: 400px;
    width: 280px;
    padding: 25px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    margin: 0 12px 24px 12px;
}

.room-card-image > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
}

.room-card-content {
    display: flex;
    justify-content: start;
    align-items: center;
}

.key-value-list {
    margin-left: 20px;
}

.key-value-list > li {
    margin-bottom: 7px;
}

.key, .value {
    display: inline;
    font-size: 13px;
    letter-spacing: 1px;
}

.key {
    color: #1d3c62;
    margin-right: 3px;
}

.value {
    color: #676767;
}

.room-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.room-card-footer > a {
    text-decoration: none;
    color: #238bff;
    font-size: 16px;
    font-style: italic;
    transition: all 0.2s ease 0s;
}

.room-card-footer > a:hover {
    text-decoration: underline;
    transition: all 0.2s ease 0s;
    color: #1d3c62;
}

.room-card-footer > p {
    font-size: 18px;
    color: #1d3c62;
    font-style: italic;
}

.input-group > label {
    font-size: 12px;
    color: #1d3c62;
    letter-spacing: 1px;
    margin-right: 8px;
}

.room-sort-form {
    display: grid;
    grid-template: repeat(2, 50px) 50px / repeat(2, 50%);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px;
    justify-items: end;
}

.room-sort-btn {
    margin-top: 16px;
    height: 34px;
    min-width: 100px;
    max-width: fit-content;
    padding: 7px 10px;
    border: 1px solid #1d3c62;
    color: #1d3c62;
    background-color: white;
    border-radius: 17px;
    font-size: 14px;
    transition: all 0.2s ease 0s;
}

.room-sort-btn:hover {
    color: white;
    background-color: #1d3c62;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.room-sort-form label {
    color: #1d3c62;
    font-size: 13px;
    letter-spacing: 1px;
}

.room-sort-form > div {
    display: grid;
    width: 100%;
    grid-template: 1fr / 40% 50%;
    align-items: center;
}

.select-primary {
    font-size: 14px;
    width: 220px;
    height: 34px;
    padding: 5px 10px;
    color: #666;
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #1d3c62;
}

.form-section {
}

.price-range, .persons-range {
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    color: #1d3c62;
}

.section-header {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    color: #c0c0c0;
    font-size: 12px;
}

.w100 {
    width: 100px;
}

.h30 {
    height: 30px;
}

.ml20 {
    margin-left: 20px;
}

.ml10 {
    margin-left: 10px;
}

.p5 {
    padding: 5px;
}

.from-text {
    color: #1d3c62;
    font-size: 16px;
}

.grey-border {
    border: 1px solid #d9d9d9;
    border-radius: 15px;
}

.checkbox-label {
    color: #1d3c62;
    font-size: 15px;
}

.class-checkbox, .status-checkbox {
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}

.form-button-aligner {
    display: flex;
    justify-content: end;
    align-items: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination-elem {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 18px;
    margin-right: 10px;
    transition: all 0.2s ease 0s;
}

.pagination-elem > a {
    text-decoration: none;
    color: #1d3c62;
    font-size: 20px;
}

.pagination-elem:hover {
    transition: all 0.2s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.pagination-elem.active {
    transition: all 0.2s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.room-grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
            "image props"
            "description description"
            "attributes attributes";
    grid-template-rows: 400px minmax(80px, auto) minmax(200px, auto);
    grid-template-columns: 60% 40%;
}

.room-image-container {
    grid-area: image;
    display: flex;
    justify-content: center;
    padding: 10px;
}


.room-image-container > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.room-properties-container {
    grid-area: props;
    padding: 10px 30px;
    display: grid;
    grid-template: 80% 20% / 1fr;
}

.room-property-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-description-container {
    grid-area: description;
}

.room-attributes-container {
    grid-area: attributes;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.room-attribute {
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: fit-content;
    padding: 13px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.room-attribute > p {
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.room-key-value-list {
    width: 100%;
}

.room-key-value-list > div {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-key-value-list > div > div {
    font-size: 17px;
}

.room-description-container {
    margin-top: 30px;
}

.room-description-container > p {
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 1px;
}

.room-name {
    color: #1d3c62;
    margin-bottom: 10px;
}

.room-price {
    color: #1d3c62;
    font-size: 20px;
}

.room-props-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.disabled-button {
    width: 120px;
    height: 35px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #9b9b9b;
    color: white;
    border: 1px solid #efefef;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: context-menu;
}

.book-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.book-form {
    width: 400px;
    height: fit-content;
    border: 1px solid #eeeeee;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 20px;
    padding: 20px 30px;
}

.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-button, .request-button {
    width: 80%;
    height: 35px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #238bff;
    color: white;
    border: 1px solid #efefef;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: context-menu;
}

.book-button:hover, .request-button:hover {
    background-color: #3f98ff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.input-group > label {
    display: block;
    width: 100%;
}

.error-container, .success-container {
    position: fixed;
    display: flex;
    width: 200px;
    min-height: 100px;
    max-height: fit-content;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    top: 55px;
    right: 5px;
    font-size: 14px;
}

.success-container {
    background-color: rgba(77, 145, 82, 0.87);
}

.error-container {
    background-color: rgba(255, 111, 111, 0.87);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #3f98ff;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr.disabled {
    background-color: #efefef;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3f98ff;
}

.profile-header {
    height: 260px;
    display: grid;
    padding: 20px;
    gap: 0 50px;
    grid-template-rows: 50px repeat(2, 1fr);
    grid-template-columns: 220px 1fr;
    grid-template-areas:
            "image up-bar"
            "image user-info"
            "image booking-info";
}


.profile-up-bar {
    grid-area: up-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image {
    grid-area: image;
    display: flex;
    justify-content: start;
    align-items: center;
}

.profile-image > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.i18n {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.i18n-ua-button, .i18n-en-button {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 0;
    background-size: cover;
    background-position: center;
}

.i18n-en-button:hover, .i18n-ua-button:hover {
    cursor: pointer;
}

.i18n-ua-button {
    background-image: url("../img/UA.png");
}

.i18n-en-button {
    background-image: url("../img/EN.png");
}

.vertical-delimiter {
    margin: 0 8px;
    content: '';
    width: 1px;
    height: 25px;
    border-right: 2px solid #1d3c62;
}

.header-user-info {
    grid-area: user-info;
    padding-top: 20px;
}

.header-user-info > h2 {
    color: #1d3c62;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 25px;
}

.header-user-info > p {
    color: #3f98ff;
    margin-top: 6px;
    letter-spacing: 1px;
    font-size: 14px;
}

.profile-account {
    grid-area: booking-info;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.profile-account > p {
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 5px;
}

.profile-account > h2 {
    color: #1d3c62;
    letter-spacing: 1px;
}

.profile-body {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 220px 1fr;
    gap: 0 50px;
}

.body-user-info {
    display: flex;
    flex-direction: column;
}

.horizontal-delimiter-with-text {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template: 1fr / minmax(10px, auto) 1fr;
    gap: 0 5px;
}

.horizontal-delimiter-with-text > p {
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: 10px;
}

.horizontal-delimiter-with-text > div {
    border-bottom: 1px solid #bdbdbd;
    height: 7px;
}

.key-value-table {
    width: 100%;
}

.key-value-table td {
    padding: 5px 0;
}

.table-key, .table-value {
    color: #1d3c62;
    font-size: 13px;
}

.key-value-table tr.active > td.table-value {
    color: #3f98ff;
}

.profile-request-list .styled-table {
    box-shadow: none;
}

.form-aligner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-booking-form {
    width: 300px;
    height: fit-content;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.info-table {
    width: fit-content;
    padding-bottom: 30px;
}

.info-table tr {
    text-align: left;
}

.info-table td {
    padding: 12px 15px;
    color: #1d3c62;
    font-size: 15px;
}

.reservation-list-form {
    width: 100%;
    height: 80px;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.reservation-list-form label {
    color: #1d3c62;
}

.payment-form {
    width: 400px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.payment-button {
    width: 80%;
    height: 35px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #238bff;
    color: white;
    border: 1px solid #efefef;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: context-menu;
}

.profile-amount {
    width: 100px;
    height: 34px;
    border: 0;
    padding: 5px 7px;
    color: #1d3c62;
    font-size: 14px;
    margin-right: 7px;
    border-bottom: 1px solid #1d3c62;
    outline: none;
}

.btn-primary {
    border-radius: 17px;
    width: fit-content;
    height: 34px;
    border: 1px solid #1d3c62;
    color: #1d3c62;
    background-color: white;
    font-size: 14px;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    border: 1px solid #1d3c62;
    color: white;
    background-color: #1d3c62;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.profile-link {
    color: #1d3c62;
    font-size: 16px;
    text-decoration: none;
    font-style: italic;
    transition: all 0.3s ease 0s;
}

.profile-link:hover {
    text-decoration: underline;
    color: #238bff;
    transition: all 0.3s ease 0s;
}

.btn-cancel, .btn-accept, .btn-pay, .btn-trash, .btn-view {
    min-width: 50px;
    max-width: fit-content;
    padding: 5px 10px;
    height: 26px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    border: 0;
    color: white;
    margin-right: 10px;
}

.btn-cancel {
    background-color: orange;
}

.btn-accept {
    background-color: green;
}

.btn-pay {
    background-color: #1d3c62;
}

.btn-trash {
    background-color: red;
}

.btn-view {
    background-color: #3f98ff;
}

.btn-cancel.disabled,
.btn-accept.disabled,
.btn-pay.disabled,
.btn-trash.disabled,
.btn-view.disabled {
    opacity: 0.5;
}

.btn-cancel.disabled:hover,
.btn-accept.disabled:hover,
.btn-pay.disabled:hover,
.btn-trash.disabled:hover,
.btn-view.disabled:hover {
    cursor: context-menu;
}

.btn-cancel:hover,
.btn-accept:hover,
.btn-pay:hover,
.btn-trash:hover,
.btn-view:hover {
    cursor: pointer;
}

.control {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.bookings-form {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bookings-form label {
    margin-right: 10px;
    font-size: 15px;
    color: #1d3c62;
}

.bookings-form select {
    margin-right: 20px;
}

.success-grid-container {
    width: 80%;
    height: fit-content;
    display: grid;
    padding: 30px;
    grid-template: minmax(100px, auto) 20px minmax(100px, auto) / 100px 1fr;
    grid-template-areas:
        "image congratulation"
        "delimiter delimiter"
        "transaction-info transaction-info";
    gap: 30px 20px;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border: 2px solid #3f98ff;
    background-color: rgba(245, 245, 245, 0.82);
}

.success-image-container {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-image-container img {
    width: 100%;
    height: 100%;
}

.congratulation-container {
    grid-area: congratulation;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.congratulation-container h1 {
    color: #1d3c62;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: italic;
}

.congratulation-container p {
    color: #8d8d8d;
    font-size: 14px;
    letter-spacing: 1px;
}

.success-grid-container .horizontal-delimiter-with-text {
    grid-area: delimiter;
    margin: 0;
    padding: 0;
}

.primary-info-container {
    grid-area: transaction-info;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 30px;

}

.primary-info-container table {
    width: 60%;
    color: #1d3c62;
}

.primary-info-container td {
    padding: 8px 10px;
    font-weight: lighter;
}

.primary-info-container tr.active > td {
    font-weight: normal;
}

.go-home-form {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-danger {
    border-radius: 17px;
    width: fit-content;
    height: 34px;
    border: 1px solid red;
    color: red;
    background-color: white;
    font-size: 14px;
    padding: 5px 10px;
    transition: all 0.3s ease 0s;
}

.btn-danger:hover {
    color: white;
    background-color: red;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.not-found-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.not-found-container img {
    width: auto;
    height: 250px;
}

.not-found-container h1 {
    color: #1d3c62;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 7px;
}

.not-found-container p {
    color: #1d3c62;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 14px;
}

.request-container {
    width: 80%;
    height: fit-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    padding: 50px;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
}

.request-form {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.request-form .form-input {
    border-bottom: 1px solid #1d3c62;
    min-width: 120px;
    max-width: fit-content;
}

.request-form .btn-primary {
    min-width: 140px;
    max-width: fit-content;
}

.request-container .primary-info-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.primary-info-container > div {
    width: 49%;
}

.request-container table {
    width: 100%;
    height: 100%;
}

.home-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1000;
    top: 50px;
}

.home-image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-image img{
    width: 100%;
    height: auto;
}

.home-search-bar {
    width: 60%;
    height: 70px;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3f98ff;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bounded-input {
    width: 150px;
    height: 50px;
    padding: 5px 15px;
}

.bounded-input > label {
    display: block;
    height: 12px;
    color: #1d3c62;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.bounded-input > input {
    height: 25px;
    display: block;
    width: 100%;
    border: 0;
    color: #989494;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #8d8d8d;
}

.home-search-bar form {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-search-bar .btn-primary {
    height: 50px;
    width: 120px;
    border-radius: 25px;
}

.booking-confirmation-container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #3f98ff;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.82);
    padding: 30px;
}

.booking-confirmation-container > h1 {
    color: #1d3c62;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-style: italic;
}

.success-mark-container {
    height: 100px;
    margin-bottom: 10px;
}

.booking-confirmation-container > p {
    color: #8d8d8d;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}

.success-mark-container > img {
    height: 100%;
    width: auto;
}

.sort {
    margin-bottom: 20px;
}

.sort form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort h2 {
    font-weight: 500;
    font-size: 24px;
    color: #a1a1a1;
    font-style: italic;
    letter-spacing: 1px;
}

.room-block {
    width: 100%;
    height: 250px;
    display: grid;
    grid-template: 1fr / 3fr 7fr;
    padding: 20px;
    border: 1px solid #3f98ff;
    border-radius: 30px;
    gap: 0 40px;
    margin-bottom: 20px;
}

.room-block-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-block-image > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
}

.room-block-content {
    display: grid;
    grid-template: 24px 1fr 40px / 1fr;
    gap: 14px 0;
}

.room-block-content > .room-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-block-content > .room-block-header > .title {
    font-size: 18px;
    color: #1d3c62;
    letter-spacing: 1px;
}

.room-block-content > .room-block-header > .status {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.room-block-content > .description {
    font-size: 13px;
    color: #666666;
    letter-spacing: 1px;
}

.room-block-content > .control {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}

.room-block-content > .properties {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.room-block-content > .properties .element {
    width: 115px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #8d8d8d;
    padding: 6px 10px;
}

.room-block-content > .properties .element > label {
    font-size: 10px;
    color: #1d3c62;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
}

.room-block-content > .properties .element > .value {
    font-size: 12px;
    color: #666666;
    letter-spacing: 1px;
}